::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 1rem;
  min-height: 60px;

  &:hover {
    background-color: #757575;
  }

  &:active {
    background-color: #424242;
  }
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

[data-user-color-scheme='dark'] {
  ::-webkit-scrollbar-thumb {
    background-color: #687582;

    &:hover {
      background-color: #9da8b3;
    }

    &:active {
      background-color: #c5d0db;
    }
  }
}

.copy-btn {
  font-size: 1rem;
  color: darkslategrey;

  > i {
    font-size: 1rem !important;
    font-weight: bold;
  }
}

[data-user-color-scheme='dark'] {
  .copy-btn {
    color: #c4c6c9;
    transition: color 0.2s ease-in-out;
  }
}

// 分类页
.category {
  .row {
    border-radius: 1rem;
  }

  .category-item {
    border-radius: 1rem;
  }

  .category-post-list {
    border-radius: 1rem;
  }
}

// 归档页
.list-group {
  border-radius: 1rem;
}

// 分类和归档页共同
.list-group-item {
  border-radius: 1rem;
}

// 友链页
.links .card-body {
  border-radius: 1rem;
}

// 菜单栏
.navbar {
  .nav-item .nav-link {
    border-radius: 0.5rem;
  }

  .dropdown-menu {
    border-radius: 0.5rem;
  }

  .dropdown-item {
    border-radius: 0.25rem;
  }
}

// 页面背景板
#board {
  border-radius: 1rem;
}

// 返回顶部按钮
#scroll-top-button {
  border-radius: 0.5rem;
}

#waline {
  // 调整输入框左侧标签的大小，位置，文字
  label {
    min-width: 1.75rem;
    font-size: 0.875rem;
    font-weight: bold;
  }

  // 调整输入框文字大小
  input {
    font-size: 0.875rem;
  }

  // 将右下角的“计数，登录，提交”的伸缩属性设为自动，减少计数的换行
  .wl-info {
    flex: auto;
  }

  .wl-card {
    // 调整 UA 标记的圆角和间距
    .wl-meta>span {
      border-radius: 0.25rem;
      margin-right: 0.25rem;
    }

    // 调整博主名称标记的大小
    .wl-badge {
      line-height: normal;
      padding: 0 0.25rem;
    }
  }
}
